/******************************************************/
/*         hoja de NightmareBeforeChristmas.html      */
/*         autor: Antonio Cordero Molina              */
/*         version: 1.0                               */
/*         fecha: 30/11/2024                          */
/******************************************************/

/**************************** FONTS *******************************/

@font-face {
    font-family: text;
    src: url(../fonts/PokemonSolidNormal-xyWR.ttf);
}

@font-face {
    font-family: pixeltext;
    src: url(../fonts/pixel_font.ttf);
}

/*************************** COLOURS ******************************/
/*
    body: #0000;
    text: #5f3880;
*/

/************************** SCENARIO *****************************/

body {
    background-color: #000;
}

#text {

    font-family: text;
    text-align: center;
    margin-right: 1000px;
    color: #5f3880;
    font-size: 2.5em;
    text-shadow: 3px 3px 0px rgb(0, 0, 0),
                -3px 3px 0px rgb(0, 0, 0),
                3px -3px 0px rgb(0, 0, 0),
                -3px -3px 0px rgb(0, 0, 0);
    word-spacing: 10px;
    letter-spacing: 3px;
}

.cautionText {
    font-family: pixeltext;
    color: #000;
    text-align: center;
    font-weight: 600;
    margin-right: 1000px;
    margin-top: -15px;
    animation-name: fadeInOut;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes fadeInOut {
    0%   {opacity: 0;}
    50%  {opacity: 1;}
    100% {opacity: 0;}
}

#scenario {
    width: 1422px;
    height: 800px;
    background-image: url(../img/Lavender_Town_wallpaper_resize2.png);
    margin: auto;
    position: relative;
}

/************************* POSITIONS & TEXT ****************************/

#cave {
    width: 60px;
    height: 60px;
    /*border: 5px solid blue;*/
    position: absolute;
    top: 210px;
    left: 965px;
}

#pokecenter {
    width: 150px;
    height: 175px;
    /*border: 5px solid blue;*/
    position: absolute;
    top: 85px;
    left: 450px;
}

#house {
    width: 170px;
    height: 80px;
    /*border: 5px solid blue;*/
    position: absolute;
    top: 355px;
    left: 620px;
}

#mart {
    width: 150px;
    height: 175px;
    /*border: 5px solid blue;*/
    position: absolute;
    top: 440px;
    left: 985px;
}

#cave.textPosition {
    position: absolute;
    font-family: pixeltext;
    color: #000;
    text-align:justify;
    font-weight: 900;
    font-size: 0.8em;
    width: 200px;
    height: 100px;
    text-align: center;
    padding-top: 60px;
    margin-left: -60px;
}

#cave.textPosition {
    animation-name: caveCautionText;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    
}

@keyframes caveCautionText {
    from {color: black;}
    to {color: red;}
  }

#pokecenter.textPosition {
    position: absolute;
    font-family: pixeltext;
    color: #000;
    text-align:justify;
    font-weight: 900;
    font-size: 0.71em;
    width: 250px;
    height: 100px;
    text-align: center;
    padding-top: 175px;
    margin-left: -20px;
}

#house.textPosition {
    position: absolute;
    font-family: pixeltext;
    color: #000;
    text-align:justify;
    font-weight: 900;
    font-size: 0.8em;
    width: 250px;
    height: 100px;
    text-align: center;
    margin-top: 90px;
    margin-left: -200px;
}

#mart.textPosition {
    position: absolute;
    font-family: pixeltext;
    color: #000;
    text-align:justify;
    font-weight: 900;
    font-size: 0.8em;
    width: 250px;
    height: 100px;
    text-align: center;
    margin-top: 180px;
    margin-left: -200px;
}

/************************* ANIMATIONS ***************************/

#ghost {
    position: absolute;
    left: -970px;
    top: -210px;
    visibility: hidden;
}

#gastly {
    position: absolute;
    width: 150x;
    height: 150px;
    top: 70px;
    left: -15px;
    visibility: hidden;
}

#gastly {
    position: relative;
    animation-name: gastlyMove;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
  
@keyframes gastlyMove {
    0%   {left:-50px; top:-50px;}
    25%  {left:100px; top:-50px;}
    50%  {left:100px; top:100px;}
    75%  {left:-50px; top:100px;}
    100% {left:-50px; top:-50px;}
}


#haunter {
    position: absolute;
    width: 120x;
    height: 120px;
    left: 100px;
    top: -100px;
    visibility: hidden;
}

#gengar {
    position: absolute;
    width: 120x;
    height: 120px;
    left: 55px;
    top: 110px;
    visibility: hidden;
}

/************************* AUDIO BUTTON **************************/

.audioButton {
    text-align: left;
    padding-top: 22px;
    padding-left: 55px;
}

#playButton::-webkit-media-controls-panel {
    background:#5f3880;
}

#playButton {
    height: 20px;
    width: 20%;
    border: 3px solid #000000;
    border-radius: 20px; 
}
